.project-card {
  box-shadow: 0 -4px 5px 1px var(--gray);
  padding-top: 5px;
  border-radius: 5px;
  & a {
    display: grid;
    grid-template-rows: 30px minmax(320px, 365px);
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--font-secondary);
    & p {
      margin: 5px 0;
      text-transform: uppercase;
      &:hover {
        transform: scale(1.5);
      }
    }
    & div {
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
