.InfoParagraph {
  color: rgba(15, 15, 15, 0.85);
  padding: 5px 15px;
  & p {
    text-align: justify;
    margin: 8px 0;
  }
  & div {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
    list-style-type: none;
    font-size: 35px;
  }
}
