.portfolio {
  display: grid;
  justify-items: center;
  padding: 2em 1em;
  min-height: 100vh;
  grid-template-rows: auto 1fr;

  font-family: 'Ubuntu';

  &.dark {
    --boolean: #161a17;
    --blue: #161a17;
    --gray: rgb(48, 49, 48);
    --gray-2: rgba(135, 135, 135, 0.3);
    --yellow: rgb(212, 207, 182);
    --font-primary: rgba(112, 212, 231, 0.75);
    --font-secondary: rgb(162, 189, 212);
    color: rgba(112, 212, 231, 0.75);
    background-color: var(--blue);
  }

  &.light {
    --boolean: rgba(220, 220, 220, 0.7);
    --blue: rgb(220, 220, 220, 0.7);
    --gray: rgb(165, 174, 192, 0.85);
    --gray-2: rgb(210, 210, 210);
    --yellow: rgb(68, 64, 44, 85);
    --font-primary: rgb(220, 220, 220, 0.85);
    --font-secondary: rgba(18, 22, 60, 0.85);
    color: rgba(black, 0.38);
    background-color: var(--blue);
  }

  @media (max-width: 800px) {
    position: relative;
    grid-template-rows: auto;
  }
}
