.InfoParagraph {
  color: var(--font-secondary);
  padding: 5px 15px;
  & p {
    text-align: justify;
    margin: 8px 0;
  }
  & .technologies {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, minmax(43px, 1fr));
    grid-row-gap: 10px;
    list-style-type: none;

    & .technology {
      display: flex;
      padding: 0.25rem 0;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      cursor: help;
      & p {
        display: none;
        font-size: 16px;
      }
      &:hover > p {
        display: block;
      }
    }
  }
}
