.projects {
  padding: 15px;
}

.projects-container {
  display: grid;
  grid-template-rows: repeat(6, 350px);
  grid-template-columns: minmax(320px, 500px);
  grid-row-gap: 25px;
  justify-content: center;
  @media (min-width: 800px) {
    grid-template-rows: repeat(3, 400px);
    grid-column-gap: 25px;
    grid-template-columns: repeat(2, minmax(320px, 500px));
  }
  @media (min-width: 1280px) {
    grid-template-rows: repeat(2, 400px);
    grid-template-columns: repeat(3, minmax(350px, 600px));
  }
}
