.navbar--container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  width: 100%;
  max-width: 1024px;
  position: relative;
  & .options--wrapped {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    & a {
      cursor: pointer;
      margin: 4px 12px;
      display: inline-block;
      &.option {
        padding-bottom: 4px;
        &.active {
          font-weight: 500;
        }
      }
    }
  }
  @media (max-width: 800px) {
    flex-direction: column;
    position: absolute;
    min-height: 100vh;
    right: 0;
    z-index: 1000;
    width: 40vw;
    background-color: var(--blue);
    justify-content: flex-start;
    align-items: center;
    & .options--wrapped {
      flex-direction: column;
      text-align: center;
      padding-top: 0.5rem;
    }
  }
}

.option::after {
  padding-top: 4px;
  display: block;
  content: '';
  transform-origin: 0% 50%;
  transition: transform 500ms ease-in-out;
}

.active::after {
  border-bottom: solid 3px rgba(68, 70, 90, 0.85);
  transform: scaleX(1);
}

.inactive::after {
  border-bottom: solid 3px rgba(175, 103, 70, 0.9);
  transform: scaleX(0);
}

.inactive:hover::after {
  transform: scaleX(1);
}

.navbar-language {
  position: absolute;
  right: 0;
  top: 35%;
  display: flex;
  align-items: center;
  gap: 8px;
  @media (max-width: 800px) {
    top: 15px;
  }
  & .navbar-theme {
    cursor: pointer;
    font-size: 20px;
  }
  & button {
    padding: 2px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px transparent solid;
    &:hover,
    &.active {
      padding: 2px;
      font-weight: bold;
    }
    &:hover {
      background-color: rgba(68, 70, 90, 0.85);
      border-color: rgba(68, 70, 90, 0.85);
      color: rgba(220, 220, 220, 0.85);
    }
    &.active {
      background-color: rgba(220, 220, 220, 0.85);
      border-color: rgba(68, 70, 90, 0.85);
      color: rgba(20, 30, 120, 0.85);
    }
  }
}

.navbar-hamburger {
  display: none;
  width: 100%;
  padding-left: 1rem;
  @media (max-width: 800px) {
    display: block;
  }
}
