.navbar--container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  width: 100%;
  max-width: 1024px;
  position: relative;
  & .options--wrapped {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    & a {
      cursor: pointer;
      margin: 4px 12px;
      display: inline-block;
      &.option {
        padding-bottom: 4px;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}

.option::after {
  padding-top: 4px;
  display: block;
  content: '';
  transform-origin: 0% 50%;
  transition: transform 500ms ease-in-out;
}

.active::after {
  border-bottom: solid 3px rgba(68, 70, 90, 0.85);
  transform: scaleX(1);
}

.inactive::after {
  border-bottom: solid 3px rgba(175, 103, 70, 0.9);
  transform: scaleX(0);
}

.inactive:hover::after {
  transform: scaleX(1);
}

.navbar-language {
  position: absolute;
  right: 0;
  top: 35%;
  display: flex;
  gap: 8px;
  & button {
    padding: 1px;
    /* Todo: improve this DRY */
    &.active {
      background: rgba(220, 220, 220, 0.85);
      border: 1px solid rgba(68, 70, 90, 0.85);
      padding: 2px;
      border-radius: 3px;
      color: rgba(20, 30, 120, 0.85);
      font-weight: bold;
    }
    &:hover {
      background: rgba(220, 220, 220, 0.85);
      border: 1px solid rgba(68, 70, 90, 0.85);
      padding: 2px;
      border-radius: 3px;
      color: rgba(175, 103, 70, 0.9);
      font-weight: bold;
    }
  }
}
