$base-color: rgb(240, 240, 240, 0.7);
$color: rgba(black, 0.38);
$fieldSet-color: silver;
$global-font: 'Ubuntu';

@font-face {
  font-family: 'icomoon';
  src: url('../assets/icomoon/fonts/icomoon.eot?bg4igm');
  src: url('../assets/icomoon/fonts/icomoon.eot?bg4igm#iefix')
      format('embedded-opentype'),
    url('../assets/icomoon/fonts/icomoon.ttf?bg4igm') format('truetype'),
    url('../assets/icomoon/fonts/icomoon.woff?bg4igm') format('woff'),
    url('../assets/icomoon/fonts/icomoon.svg?bg4igm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/ubuntu-v15-latin_cyrillic-regular.eot')
      format('embedded-opentype'),
    url('../assets/fonts/ubuntu-v15-latin_cyrillic-regular.svg') format('svg'),
    url('../assets/fonts/ubuntu-v15-latin_cyrillic-regular.ttf')
      format('truetype'),
    url('../assets/fonts/ubuntu-v15-latin_cyrillic-regular.woff') format('woff'),
    url('../assets/fonts/ubuntu-v15-latin_cyrillic-regular.woff2')
      format('woff2');
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $base-color;
  color: $color;
  font-family: $global-font;
  min-height: 100vh;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: 0 0;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid $fieldSet-color;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  // color: gray;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-altx-alt:before {
  content: '\e914';
}
.icon-terminal:before {
  content: '\ea81';
}
.icon-github:before {
  content: '\e917';
}
.icon-facebook:before {
  content: '\e915';
}
.icon-twitter:before {
  content: '\e916';
}
.icon-gmail:before {
  content: '\e912';
  color: #d14836;
}
.icon-whatsapp:before {
  content: '\e911';
  color: #25d366;
}
.icon-css3:before {
  content: '\e901';
  color: #1572b6;
}
.icon-html5:before {
  content: '\e900';
  color: #e34f26;
}
.icon-adobephotoshop:before {
  content: '\e903';
  color: #00c8ff;
}
.icon-sass:before {
  content: '\e904';
  color: #c69;
}
.icon-mysql:before {
  content: '\e905';
  color: #4479a1;
}
.icon-rails:before {
  content: '\e906';
  color: #c00;
}
.icon-ruby:before {
  content: '\e907';
  color: #cc342d;
}
.icon-git:before {
  content: '\e908';
  color: #f05032;
}
.icon-postman:before {
  content: '\e909';
  color: #ff6c37;
}
.icon-webpack:before {
  content: '\e90a';
  color: #8dd6f9;
}
.icon-firebase:before {
  content: '\e90b';
  color: #ffca28;
}
.icon-mongodb:before {
  content: '\e90c';
  color: #47a248;
}
.icon-styled-components:before {
  content: '\e90d';
  color: #db7093;
}
.icon-node-dot-js:before {
  content: '\e90e';
  color: #393;
}
.icon-redux:before {
  content: '\e90f';
  color: #764abc;
}
.icon-react:before {
  content: '\e910';
  color: #61dafb;
}
.icon-javascript:before {
  content: '\e902';
  color: #e4cc13f1;
}
.icon-check-circle:before {
  content: '\e913';
}
