.experience-metrics {
  position: absolute;
  top: 10%;
  left: 15%;
  color: var(--font-secondary);
  font-size: 14px;
}

.experience-metrics--title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.experience-metrics--details {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-metric {
  display: flex;
  justify-content: space-between;
  gap: 0 0.4rem;
  & .experience-metric--description {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    letter-spacing: 0.025rem;
  }

  & .experience-metric--value {
    margin: auto;
    color: var(--yellow);
  }
}
