.form-label {
  flex-grow: 1;
  &:nth-of-type(4) {
    flex-grow: 3;
    padding: 10px 0 5px;
  }
  & label {
    text-align: left;
    font-weight: 500;
    display: grid;
    grid-template-columns: minmax(35px, 70px) 1fr;
    grid-column-gap: 3px;
    align-items: center;
  }
  & input,
  textarea {
    background-color: var(--gray-2);
    border: 2px solid var(--gray-2);
    border-radius: 3px;
    padding: 4px;
    outline: none;
    resize: none;
  }
  & textarea {
    height: 100%;
  }
}
