.experience-code {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.code-metrics {
  color: var(--font-secondary);
  font-size: 14px;
}

.code-metrics--title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.code-metrics--details {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.code-metric {
  display: flex;
  justify-content: space-between;
  gap: 0 0.4rem;
  & .code-metric--description {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    letter-spacing: 0.025rem;
  }

  & .code-metric--value {
    margin: auto;
    color: var(--yellow);
  }
}
