.navbar--container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  & .options--wrapped {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    & a {
      cursor: pointer;
      margin: 4px 12px;
      &.active {
        font-weight: bold;
        border-bottom: 2px solid rgba(50, 50, 50, 0.8);
        padding-bottom: 4px;
      }
    }
  }
}
