.SocialMedia--container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 0;
  & a {
    text-decoration: none;
    & i {
      font-size: 32px;
      color: rgba(80, 80, 80, 0.7);
      &.twitter:hover {
        color: #1da1f2;
      }
      &.github:hover {
        color: rgb(22, 27, 34);
      }
      &.facebook:hover {
        color: #1877f2;
      }
    }
  }
}
