.Photo--container {
  position: relative;
  background: #fff;
  padding: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  & img {
    width: 120px;
    border-radius: 50%;
  }
}

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  position: relative;
  & svg {
    fill: none;
    stroke: rgba(110, 150, 180, 0.8);
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: stroke-draw 6s ease-out infinite alternate;
  }
  & img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes stroke-draw {
  from {
    stroke: rgba(110, 150, 180, 0.8);
    stroke-dasharray: 1;
  }
  to {
    stroke: rgba(170, 40, 40, 0.85);
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}
