.Contact {
  border: 2px solid var(--gray);
  display: grid;
  height: 80vh;
  padding: 0 4rem;
  grid-template-rows: 5em auto 1fr;
  overflow-y: auto;
  width: 100%;
  border-radius: 14px;
  max-width: 1024px;
  background-color: var(--gray);
  justify-content: center;
  & form {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    @media (max-width: 800px) {
      font-size: 14px;
    }
    & div:nth-of-type(5) {
      display: flex;
      justify-content: center;
      & button {
        padding: 6px;
        border-radius: 4px;
        background-color: transparent;
        border: 3px solid var(--gray-2);
        &:hover {
          background-color: var(--gray-2);
        }
      }
    }
  }
}

.contact--title {
  width: 100%;
  text-align: center;
  margin: auto 0;
  font-size: 24px;
  & h2 {
    margin: 0;
    color: gray;
    @media (max-width: 800px) {
      font-size: 28px;
    }
  }
}

.contact--wp {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  @media (max-width: 800px) {
    font-size: 14px;
  }
  & p {
    width: 100%;
    & a {
      text-decoration: none;
      & i {
        margin: 5px;
        padding: 3px;
        animation: infinite 5s ease-in-out Opacity 3s;
        &:hover {
          animation-play-state: paused;
        }
      }
    }
    & i {
      padding: 0 8px;
    }
  }
}

@keyframes Opacity {
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
