.timeline {
  width: 100%;
  display: flex;
  justify-content: center;
  & .timeline-experiences {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    background-color: var(--gray);
    border-radius: 0.4rem;
    padding: 1.5rem 2rem;
    & .timeline-experience {
      display: flex;
      justify-content: center;
      width: 100%;
      color: var(--font-primary-2);
      position: relative;
      border-left: 3px solid var(--font-primary-2);
      padding: 0 1.5px;
      padding-bottom: 3rem;
      z-index: 1001;
      & p {
        color: var(--font-secondary);
      }
      &:before {
        content: '';
        width: 15px;
        height: 15px;
        background-color: var(--font-primary-2);
        border-radius: 50%;
        position: absolute;
        left: -9px;
        top: -6px;
        z-index: 1000;
      }
      &:last-child {
        &:before {
          left: -6px;
        }
        border: 0px;
        padding-bottom: 0;
      }
      & .Card {
        border-left: 0px;
      }
    }
  }
}
