.project-details {
  position: absolute;
  top: 0;
  left: 100%;
  transition: 0.5s;
  width: 100%;
  height: inherit;
  background-color: rgba(48, 49, 48, 0.85);
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
  display: flex;
  justify-content: center;
  align-items: center;

  & .project-details--icons {
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
    & a {
      color: var(--boolean);
      &:hover {
        color: var(--font-secondary);
      }
    }
  }
}

@keyframes wipe-in-left {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
