.SocialMedia--container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 0;
  & img {
    width: 32px;
    height: 32px;
  }
  & a {
    text-decoration: none;
  }
}
